body {
    background-color: rgb(208, 252, 255);
    margin: 0px;
}

.logo {
    max-width: 200px;

    display: block;
    margin: auto;
}

.navigation {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

}

.header {
    background-color: rgb(88, 204, 224);
   

}

.navigation a {
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    background-color: rgb(130, 202, 231);
    padding: 5px;
    border-radius: 10px;
    
}

.banner {
    /* vh = viewport height: window height */
    min-height: 50vh;
    background-image: url("cesare-burei-HK1BuoReZmM-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.banner h1 {
    text-align: center;
    margin: 0px;
    padding: 25vh;
    color: white;
    font-size: 6em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 3px #333333;
}